.questions
	.questions__swiper.swiper 
		.questions__btn-slide-prev.questions__btn-slide
		.questions__btn-slide-next.questions__btn-slide
		.swiper-wrapper 
			.questions__slide.swiper-slide 
				.slide-container.slide-container1 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/1.png", alt="alt")
								.front-slide__name.show-left.show 
									span Судьба эколога
									span Варя, 32 года
							.front-slide__right 
								.front-slide__text
									p.show-right.show Тема ВИЧ казалась мне чем-то далеким от моего мира. 
										br
										|Я веду здоровый образ жизни, почти каждый день езжу на велосипеде, сортирую мусор, работаю SMM-менеджером в небольшой компании… Избегаю нездоровых привычек, не тусуюсь в клубах, не пью ничего крепче бокала вина по выходным, — словом, веду весьма обычный для нашего поколения образ жизни.
									p.show-right.show Два раза в месяц я участвую в экосубботниках — частной инициативе, в рамках которой мы делаем район чище. Мы выходим в парки и скверы, убираем и сортируем мусор, следим за состоянием кормушек, иногда помогаем ухаживать за посадками. Разумеется, мы делаем это в перчатках, однако и это не всегда помогает.
									p.show-right.show Так, прошлой осенью я выбирала мусор из кучи прелых листьев и, к своему ужасу, не заметила валявшуюся там же использованную иглу от шприца. Укололась — игла легко проткнула перчатку и вошла прямо в палец… Надо ли говорить, какую волну ужаса я пережила?! «Заразные» иголки, ВИЧ, СПИД и другие страшилки из городского детства бесконечно крутились у меня в голове.
									p.show-right.show Несколько дней я не могла нормально спать, перечитала кучу форумов и статей, опросила всех друзей, но никто раньше не сталкивался с подобной ситуацией и помочь мне ничем не мог. Наконец я взяла себя в руки, дошла до врача и от переживаний разрыдалась прямо у него в кабинете.
						.front-slide__question.show-left.show.title Как вы думаете, что было дальше? Могла ли Варя заразиться 
							br
							|ВИЧ через старую иглу, найденную в парке?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn1 
								span ДА 
							.front-slide__btn-no.btn.btn1 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/1.png", alt="alt")
							.back-slide__text На самом деле ВИЧ вне человеческого организма быстро погибает. Период его «жизни» в окружающей среде сокращается всего до нескольких минут. Он не передается через брошенные шприцы, оставленные иголки или жало насекомых. Передача вируса взрослому человеку возможна только половым путем (при сексе без презерватива) либо через нестерильный инструментарий при введении инъекционных наркотиков и процедурах, где возможен контакт «кровь — кровь». Остальное — городские легенды, появившиеся когда-то из-за отсутствия достоверной информации.
						.back-slide__btn.btn Далее
			.questions__slide.swiper-slide 
				.slide-container.slide-container2 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/2.png", alt="alt")
								.front-slide__name.show-left.show 
									span Я живу с ВИЧ-инфицированным партнером
									span Андрей, 35 лет
							.front-slide__right 
								.front-slide__text.show-right.show
									p Здравствуйте, я единорог. Нет, серьезно, люди реагируют именно так, когда по каким-то причинам узнают, что у моей жены ВИЧ и я живу с ней уже больше десяти лет. И у нас двое детей. Рожденных в браке. Моей женой. Я — их биологический отец. В общем, единорог: про таких, как я, тоже говорят, что нас не бывает.
									p На самом деле все было просто: мы узнали о положительном ВИЧ-статусе жены, когда уже прожили вместе больше года и начали планировать первую беременность. Сказать, что это было шоком, — значит очень сильно смягчить степень нашей реакции… Казалось, что на семейных планах поставлен жирный крест.
									p Жена сразу поняла источник заражения — случайная связь в юности, о которой когда-то она рассказывала мне со смехом. И над тем, чтобы принять этот факт — что случайный непродолжительный роман может навсегда изменить твою судьбу, — мы работали дольше всего.
									p Зато когда мы справились с этой ситуацией (во многом благодаря работе с психологом и равными консультантами из группы поддержки), остальное стало гораздо проще. Да, это все еще необычная ситуация, да, наша жизнь требует чуть больше планирования и мер предосторожности, и да, моя жена все еще не любит обсуждать с кем-то эту тему. Однако мы самая обычная семья, все члены которой ведут самый обычный образ жизни.
						.front-slide__question.show-left.show.title Как вы думаете, здоровы ли остальные члены семьи? Может ли 
							br
							|ВИЧ-позитивная женщина рожать ВИЧ-отрицательных детей?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn2 
								span ДА 
							.front-slide__btn-no.btn.btn2 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/2.png", alt="alt")
							.back-slide__text 
								p
									|Да, при постоянном приеме антиретровирусной терапии и неопределяемом уровне вирусной нагрузки ВИЧ-инфицированная женщина может вести обычный образ жизни. Заниматься сексом с мужем, рожать здоровых детей, спокойно жить рядом с ними и любыми другими членами семьи. При соблюдении всех рекомендаций специалистов вероятность передачи вируса во время беременности и в родах стремится к нулю.
								p
									|Стоит заметить, что супруги до планирования беременности предохранялись с помощью презерватива. Именно по этой причине ВИЧ-статус Андрея остался отрицательным.
								p
									|Ну а в целом в современных условиях ВИЧ — не приговор, а хорошо изученное хроническое заболевание. Качество и продолжительность жизни ВИЧ-положительных людей, находящихся на антиретровирусной терапии, сопоставимы с качеством и продолжительностью жизни ВИЧ-отрицательных людей.

						.back-slide__btn.btn Далее
			.questions__slide.swiper-slide 
				.slide-container.slide-container3 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/3.png", alt="alt")
								.front-slide__name.show-left.show 
									span Скандал на работе
									span Ольга, 41 год
							.front-slide__right 
								.front-slide__text.show-right.show
									p Я решила рассказать свою историю просто потому, что она стала для меня невероятным уроком. И я хочу, чтобы об этом узнало как можно больше людей. Три года назад к нам в офис вышла новая коллега: обычная женщина лет 35, милая, дружелюбная, без семьи и детей.
									p Мы сидели за соседними столами, плотно общались, ходили вместе на бизнес-ланчи, сочувствовали друг другу, выходя на работу в приболевшем состоянии (руководство не приветствовало больничные). Словом, вели обычный офисный образ жизни.
									p Когда началась пандемия, наш директор долго не хотел признавать серьезность происходящего и переводить коллектив на удаленку. В принципе, всех устраивало нахождение в офисе, и только Света нервничала, постоянно просила разрешить ей работу из дома… Несколько раз даже плакала. Я не понимала, что происходит, пока она не призналась мне, что у нее ВИЧ и она ужасно боится подцепить (тогда еще совсем никому не известный) ковид.
									p У меня было ощущение, что земля ушла из-под ног. В голове сразу пронеслись офисные будни: мы едим за одним столом, пользуемся общим полотенцем для рук, она чихает возле моего стола… Я чувствовала себя преданной, обманутой и насильно втянутой в ситуацию огромного риска.
						.front-slide__question.show-left.show.title Как вы думаете, успокоилась ли Ольга? Могла ли она 
							br
							|заразиться от ВИЧ-позитивной коллеги, с которой тесно общается 
							br
							|часами каждый день?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn3 
								span ДА 
							.front-slide__btn-no.btn.btn3 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/3.png", alt="alt")
							.back-slide__text Нет. ВИЧ не передается бытовым или воздушно-капельным путем. Нельзя заразиться через объятия, поцелуи, рукопожатия, общую посуду или полотенца. Даже если ВИЧ-положительный человек будет чихать и кашлять рядом, заразиться через его слюну невозможно. Да что уж говорить, при самом страстном и долгом поцелуе через слюну заразиться тоже невозможно, так как в слюне содержится недостаточное для заражения количество вируса. Для этого надо выпить ее в количестве нескольких литров, но вряд ли это придет кому-то в голову. 
						.back-slide__btn.btn Далее
			.questions__slide.swiper-slide 
				.slide-container.slide-container4 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/4.png", alt="alt")
								.front-slide__name.show-left.show 
									span Риски тату
									span Семен, 22 года
							.front-slide__right 
								.front-slide__text.show-right.show
									p Всем привет. Меня зовут Семен, и я живая иллюстрация того, что подросткам всегда нужно слушать маму и папу, не водиться с сомнительными друзьями и не посещать подпольные тату-салоны «для настоящих пацанов». Ладно, про всегда слушать я, может, преувеличил, а все остальное горячо рекомендую.
									p В 17 лет я сделал классную (мы заменили эпитет — Прим. ред.) татушку на всю спину. Наколол своего тогдашнего кумира (мы убрали имя рэпера по этическим соображениям. — Прим. ред.). Разумеется, денег на лицензионный салон у меня не было, да и мозги тогда, честно говоря, тоже не особо подвезли…
									p Поэтому я пошел к приятелям приятелей в обычный полуподвал, где кололи без обезболивания, зато с пивом. Последствия этого решения я разгребаю до сих пор, и речь не только об адском воспалении кожи, которое я получил из-за нестерильной иглы.
						.front-slide__question.show-left.show.title Как вы думаете, что случилось с Семеном? Мог ли он 
							br
							|получить таким способом ВИЧ-инфекцию?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn4 
								span ДА 
							.front-slide__btn-no.btn.btn4 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/4.png", alt="alt")
							.back-slide__text 
								p
									|Получить ВИЧ-инфекцию таким способом можно. К счастью, конкретно с Семеном этого не произошло, однако теперь он вынужден бороться с гепатитом. Риск заразиться гепатитами в такой ситуации как раз очень высокий (по сравнению с ВИЧ). Гепатиты более устойчивы к воздействию окружающей среды и довольно долго могут сохраняться на поверхности, тем более на не стерилизованных по правилам инструментах. 
								p 
									|Техника нанесения татуировок основывается на прокалывании кожи и заполнении этих проколов краской. На теле образуются множественные ранки, которые могут служить воротами проникновения ВИЧ-инфекции. Если инструмент не обработан подобающим образом, частички крови, которые могли попасть в емкость с краской или остаться на иголке после использования, при повторном использовании могут как раз быть причиной заражения. Именно поэтому так важно внимательно выбирать только лицензированные салоны для проведения любых инъекционных процедур, где соблюдаются гигиенические и санитарно-эпидемиологические нормы, а в процедурах используется одноразовый инструментарий.
						.back-slide__btn.btn Далее
			.questions__slide.swiper-slide 
				.slide-container.slide-container5 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/5.png", alt="alt")
								.front-slide__name.show-left.show 
									span Случайный роман
									span Инга, 20 лет
							.front-slide__right 
								.front-slide__text.show-right.show
									p В моей истории нет ничего необычного. Окончила школу, поступила в университет, ходила по клубам и активно знакомилась с симпатичными мальчиками, но дальше флирта дело никогда не заходило. Однажды меня познакомили с Ромой — прикольный, подтянутый, спортивный, внешне опрятный… Меня поразило его чувство юмора и необычное сочетание внешней легкости и какой-то глубокой внутренней грусти.
									p Мы увлеклись общением, поймали волну и не могли оторваться друг от друга весь вечер… который плавно перетек в бурную ночь. Да, неправильно и опрометчиво, но почему-то тогда меня это совершенно не смущало. Как не смущало и то, что Рома не предложил воспользоваться презервативом, сказав, что «осечек у него еще не было». А еще это был мой первый сексуальный контакт.
									p После совместной ночи мы расстались, обменявшись телефонами и договорившись найти друг друга в соцсетях, чтобы назначить следующее свидание… Которое, как вы уже можете догадаться, не состоялось. Рома заблокировал мой номер и закрыл профили в соцсетях. Знакомые тоже не знали, как его найти, но сказали, что он часто рвет все контакты и исчезает надолго.
									p Но настоящий сюрприз ждал меня дальше… Через год я сдавала плановые анализы в рамках диспансеризации. Мне предложили заодно провериться на ВИЧ, гепатиты и что-то еще. И с тех пор моя жизнь изменилась навсегда.
						.front-slide__question.show-left.show.title Как вы думаете, что было дальше? Могла ли Инга получить 
							br
							|ВИЧ после всего лишь одного сексуального контакта с партнером?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn5 
								span ДА 
							.front-slide__btn-no.btn.btn5 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/5.png", alt="alt")
							.back-slide__text 
								p 
									|Да, потому что ВИЧ не является специфической болезнью каких-то определенных групп людей. Им могут заразиться любые люди вне зависимости от пола, возраста, социального статуса или достатка. По оценкам специалистов, в наше время большинство людей, живущих с ВИЧ, это гетеросексуалы, инфицированные половым путем (при незащищенном сексе).
								p 
									|Более того, при первом половом контакте (если девушка теряет девственность) риск инфицирования будет еще выше, так как партнеры не только обмениваются эякуляционными жидкостями, но может происходить и непосредственный контакт с кровью человека. При этом важно помнить про период «немого окна» — вирус (ВИЧ) не сразу может быть обнаружен с помощью тестов. После подозрительного полового контакта желательно сдать два анализа с разницей около 12 недель.
						.back-slide__btn.btn Далее
			.questions__slide.swiper-slide 
				.slide-container.slide-container6 
					.front-slide 
						.front-slide__card 
							.front-slide__left 
								.front-slide__img.show-left.show 
									img(src="img/questions/6.png", alt="alt")
								.front-slide__name.show-left.show 
									span Верная жена
									span Валентина (имя изменено по просьбе героини), 63 года
							.front-slide__right 
								.front-slide__text.show-right.show
									p Мне 63 года, я вдова уже почти шесть лет, а до этого мы прожили с мужем больше 20 лет вместе. Хорошая, крепкая семья, спокойная жизнь… Детей только Бог не дал, но, как я теперь думаю, даже к лучшему.
									p Последние несколько лет я чувствовала, что организм стал «разваливаться на части». Вроде ничего не болит, но устаю сильнее обычного, болею чаще и дольше, иногда лихорадит… Долго списывала всё на возраст и сезонные недомогания, но однажды, гуляя в парке, решила пройти мобильное тестирование. Там как раз акция какая-то была, 10 минут времени — и результат на руках. 
									p Скажу честно, я мужу за 20 с лишним лет никогда не изменяла, он вроде тоже никаких поводов заподозрить его в неверности не давал… Поэтому тест на ВИЧ я даже не рассматривала как важный. Сдала скорее ради любопытства, совместила приятное (прогулка) с полезным (тест). А когда получила результаты, посмотрела на свою семейную жизнь совсем другими глазами.
						.front-slide__question.show-left.show.title Как вы думаете, что случилось дальше? Могла ли Валентина 
							br
							|заразиться ВИЧ от мужа и не знать об этом более шести лет?
						.front-slide__btns.show-right.show 
							.front-slide__btn-yes.btn.btn6 
								span ДА 
							.front-slide__btn-no.btn.btn6 
								span НЕТ
					.back-slide
						.back-slide__card
							.back-slide__img 
								img(src="img/questions/6.png", alt="alt")
							.back-slide__text 
								p 
									|К сожалению, да, это и произошло. Коварство ВИЧ в том, что это хроническая инфекция, не обладающая специфическими симптомами. Начальная стадия инфицирования может сопровождаться лихорадкой, увеличением лимфоузлов, сыпью и другими проявлениями… Однако гораздо чаще человек узнает о наличии у него ВИЧ-инфекции либо в результате тестирования, либо на поздних стадиях развития болезни, когда иммунная система уже скомпрометирована настолько, что не имеет сил бороться с различными заболеваниями.
								p 
									|P.S.: С Валентиной все в порядке, сейчас она проходит терапию и находится под наблюдением врачей.

