.hero
	.hero__container.container 
		.hero__body 
			.hero__drop 
				img(src="img/hero/drop.png", alt="alt")
			.hero__line 
				img(src="img/hero/line.svg", alt="alt")
			.hero__ball 
				img(src="img/hero/ball.png", alt="alt").show-right.show
			.hero__moon 
				img(src="img/hero/moon.png", alt="alt").show-right.show
			.hero__wave 
				img(src="img/hero/wave.png", alt="alt").show-right.show

			.hero__left 
				.hero__title.title.show-left.show Было — не было: 
					br
					|где скрывается ВИЧ?
				.hero__subtitle.title 
					span.show-left.show Думаете, что ВИЧ — это болезнь маргиналов и «обычных» людей она касаться не может? 
					span.show-left.show Или, наоборот, боитесь случайно заразиться через поцелуи и рукопожатия?
				.hero__card.show-left.show 
					.hero__text Читайте истории наших героев, пробуйте угадать, насколько близко они знакомы с ВИЧ, и узнавайте больше об этом заболевании! 
			.hero__right  
				.hero__img.hero__img-desktop.show-right.show 
					img(src="img/hero/hero.png", alt="alt")
				.hero__img.hero__img-mobile.show-right.show 
					img(src="img/hero/hero-mobile.png", alt="alt")
