.protection
	.protection__img-wave
		img(src="img/protection/wave.png", alt="alt")
	.protection__body 
		.protection__img-grid 
			img(src="img/protection/1.png", alt="alt")
		.protection__header.title 
			span.show-left.show От ВИЧ можно защититься!
		.protection__items 
			.protection__item 
				.protection__icon.show-left.show 
					img(src="img/protection/arrow.svg", alt="alt")
				.protection__text.show-right.show Всегда используйте презерватив! А также проверяйте условия 
					br
					|его хранения и срок годности сразу после покупки.
			.protection__item 
				.protection__icon.show-left.show 
					img(src="img/protection/arrow.svg", alt="alt")
				.protection__text.show-right.show Старайтесь контролировать свои возможные ситуации риска и контакты с партнерами из числа 
					br
					|лиц с «рискованным поведением»: склонных к беспорядочным связям и/или приему наркотиков.
			.protection__item 
				.protection__icon.show-left.show 
					img(src="img/protection/arrow.svg", alt="alt")
				.protection__text.show-right.show Используйте только индивидуальное стерильное оборудование для 
					br
					|любых инъекционных вмешательств или при контактах с кровью.