.happened
	.happened__container.container 
		.happened__title.title 
			span.show-right.show
				|Если все же случился незащищенный контакт, есть 72 часа 
				br
				|на постконтактную профилактику
		.happened__items-small 
			a(href='').happened__item-small.show-left.show 
				|Срочно обратитесь в свой 
				br
				|региональный центр СПИД 
			a(href='').happened__item-small.show-left.show 
				|Получите рекомендацию врача 
				br
				|для экстренной профилактики 
			.happened__item-small.show-right.show 
				|Сходите в аптеку за лекарством и 
				br
				|пройдите весь курс лечения

		.happened__items-big 
			.happened__img-ball 
				img(src="img/happened/ball.png", alt="alt").show-left.show
			.happened__img-drop 
				img(src="img/happened/drop.png", alt="alt").show-right.show
			.happened__item-big.big-item-happened.big-item-happened-left 
				.big-item-happened__header 
					span.show-left.show ВИЧ НЕ передается
				ul.big-item-happened__list 
					li.big-item-happened__item.show-left.show 
						|воздушно-капельным путем
					li.big-item-happened__item.show-left.show 
						|при бытовых контактах, объятиях, рукопожатиях, прикосновениях
					li.big-item-happened__item.show-left.show 
						|при контакте со слюной: поцелуях, кашле, чихании, плевках
					li.big-item-happened__item.show-left.show 
						|при посещении общественных мест: бассейнов, саун, пляжных и туалетных кабинок
					li.big-item-happened__item.show-left.show 
						|через общие предметы: посуду, столовые приборы, одежду, постельное белье, телефон
					li.big-item-happened__item.show-left.show 
						|через укусы насекомых
			.happened__item-big.big-item-happened.big-item-happened-right 
				.big-item-happened__header 
					span.show-right.show ВИЧ может передаваться:
				ul.big-item-happened__list 
					li.big-item-happened__item.show-right.show 
						|через незащищенный проникающий половой контакт (секс без презерватива)
					li.big-item-happened__item.show-right.show 
						|через совместное использование оборудования для инъекций (шприцы, тату-иглы и т.д.)
					li.big-item-happened__item.show-right.show 
						|от ВИЧ-инфицированной матери ребенку во время беременности, родов, грудного вскармливания, если она не соблюдает рекомендации врачей и не получает антиретровирусную терапию