.happened {
	margin-top: calc((1920px * 57.6px) / 1728px);
	padding-top: calc((1920px * 45.9px) / 1728px);
	background: #F5F3F3;
	position: relative;
	z-index: 2;
	@media (max-width: 1920px){
		margin-top: calc((1920px * 3.333vw) / 1728px);
		padding-top: calc((1920px * 2.656vw) / 1728px);
	}
	@media (max-width: 768px){
		background-color: #ffffff;
		margin-top: 3.250vw;
		padding-top: 3.750vw;
	}
	&__container {}
	
		&__title {
			width: calc((1920px * 1071.9px) / 1728px);
			height: calc((1920px * 108.9px) / 1728px);
			background: #A8E0D4;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			@media (max-width: 1920px){
				width: calc((1920px * 62.031vw) / 1728px);
				height: calc((1920px * 6.302vw) / 1728px);
			}
			@media (max-width: 768px){
				width: 87.500vw;
				height: 21.625vw;
				font-size: 3.500vw;
				line-height: 4.375vw;
			}
		}
	
		&__items-small {
			margin-top: calc((1920px * 22.5px) / 1728px);
			display: flex;
			justify-content: space-between;
			@media (max-width: 1920px){
				margin-top: calc((1920px * 1.302vw) / 1728px);
			}
			@media (max-width: 768px){
				margin-top: 2.625vw;
				flex-direction: column;
				align-items: center;
				position: relative;
				&::before{
					content:'';
					width: 17.125vw;
					height: 17.125vw;
					position: absolute;
					top: 0;
					right: -3vw;
					background: url('../img/happened/ball.png') 0 0 / 100% 100% no-repeat;
				}
			}
			>* {
				position: relative;
				&:nth-child(1), &:nth-child(2){
					&::before{
						content:'';
						width: calc((1920px * 30.6px) / 1728px);
						height: calc((1920px * 30.6px) / 1728px);
						position: absolute;
						top: 50%;
						right: calc((1920px * -34.2px) / 1728px);
						transform: translate(100%, -50%);
						background: url('../img/happened/arrow.svg') 0 0 / 100% 100% no-repeat;
						@media (max-width: 1920px){
							width: calc((1920px * 1.771vw) / 1728px);
							height: calc((1920px * 1.771vw) / 1728px);
							right: calc((1920px * -0.7vw) / 1728px);
						}
						@media (max-width: 768px){
							width: 4.250vw;
							height: 4.250vw;
							top: 100%;
							right: 50%;
							transform: translate(50%, 0.625vw) rotate(90deg);
						}
					}
				}
			}
		}
	
			&__item-small {
				width: calc((1920px * 356.4px) / 1728px);
				height: calc((1920px * 102.6px) / 1728px);
				border: calc((1920px * 1px) / 1728px) solid #DB3738;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'FuturaBookC';
				font-style: normal;
				font-weight: 400;
				font-size: calc((1920px * 16.2px) / 1728px);
				line-height: calc((1920px * 18px) / 1728px);
				color: #000000;
				@media (max-width: 1920px){
					width: calc((1920px * 20.625vw) / 1728px);
					height: calc((1920px * 5.938vw) / 1728px);
					border: calc((1920px * 0.052vw) / 1728px) solid #DB3738;
					font-size: calc((1920px * 0.938vw) / 1728px);
					line-height: calc((1920px * 1.042vw) / 1728px);
				}
				@media (max-width: 768px){
					width: 49.500vw;
					height: 14.250vw;
					font-size: 3.4vw;
					line-height: 4.0625vw;
					text-align: center;
					&:not(:first-child) {
						margin-top: 5.500vw;
					}
				}
			}
		
		&__items-big {
			margin-top: calc((1920px * 22.05px) / 1728px);
			position: relative;
			display: flex;
			@media (max-width: 1920px){
				margin-top: calc((1920px * 1.276vw) / 1728px);
			}
			@media (max-width: 768px){
				background: #F5F3F3;
				margin: 0 -5vw;
				padding: 0 5vw;
				padding-top: 8.125vw;
				margin-top: 6.625vw;
				flex-direction: column;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.happened__img-ball {
				width: calc((1920px * 200.7px) / 1728px);
				height: calc((1920px * 202.5px) / 1728px);
				position: absolute;
				bottom: calc((1920px * -113.4px) / 1728px);
				left: calc((1920px * -105.3px) / 1728px);
				@media (max-width: 1920px){
					width: calc((1920px * 11.615vw) / 1728px);
					height: calc((1920px * 11.719vw) / 1728px);
					bottom: calc((1920px * -6.563vw) / 1728px);
					left: calc((1920px * -6.094vw) / 1728px);
				}
				@media (max-width: 768px){
					width: 29.297vw;
					height: 29.297vw;
					bottom: calc(100% - 24.870vw);
					left: -5vw;
				}
			}
			.happened__img-drop {
				width: calc((1920px * 122.4px) / 1728px);
				height: calc((1920px * 105.3px) / 1728px);
				position: absolute;
				top: calc((1920px * -51px) / 1728px);
				right: calc((1920px * -10px) / 1728px);
				@media (max-width: 1920px){
					width: calc((1920px * 7.083vw) / 1728px);
					height: calc((1920px * 6.094vw) / 1728px);
					top: calc((1920px * -2.656vw) / 1728px);
					right: calc((1920px * -0.521vw) / 1728px);
				}
				@media (max-width: 768px){
					top: 79.297vw;
					right: 8vw;
					width: 17.708vw;
					height: 15.234vw;
				}
			}
			>* {
			
				&:nth-child(2) {
					.big-item-happened__header {
						color: #DB3738;
					}
					margin-left: calc((1920px * 18px) / 1728px);
					@media (max-width: 1920px){
						margin-left: calc((1920px * 0.938vw) / 1728px);
					}
					@media (max-width: 768px){
						margin-left: 0;
					}
				}
			}
		}
	
		&__item-big {
			flex: 0 1 50%;
		}
}

.big-item-happened {
	border: calc((1920px * 1px) / 1555.2px) solid #444444;
	display: flex;
	flex-direction: column;
	@media (max-width: 1920px){
		border: calc((1920px * 0.052vw) / 1728px) solid #444444;
	}
	@media (max-width: 768px){
		width: 86.625vw;
		min-height: 75vw;
		margin: 0 auto;
	}
	&-left {
		.big-item-happened__header {
			color: #444444;
		}
		.big-item-happened__item {
			&::before{
				content:'';
				background: #444444;
			}
		}
	}
	&-right {
		margin-left: calc((1920px * 16.2px) / 1728px);
		@media (max-width: 1920px){
			margin-left: calc((1920px * 0.938vw) / 1728px);
		}
		@media (max-width: 768px){
			margin: 0 auto;
			margin-top: 12.500vw;
		}
		.big-item-happened__header {
			color: #DB3738;
		}
		.big-item-happened__item {
			&::before{
				background: #DB3738;
			}
		}
	}
	&__header {
		height: calc((1920px * 109.8px) / 1728px);
		font-family: 'Geometria';
		font-style: normal;
		font-weight: 500;
		font-size: calc((1920px * 28px) / 1728px);
		line-height: calc((1920px * 35px) / 1728px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 1920px){
			height: calc((1920px * 6.354vw) / 1728px);
			font-size: calc((1920px * 1.458vw) / 1728px);
			line-height: calc((1920px * 1.823vw) / 1728px);
		}
		@media (max-width: 768px){
			height: 15.375vw;
			font-size: 3.500vw;
			line-height: 4.375vw;
		}
	}
	
		&__list {
			flex: 1 1 auto;
			background-color: #ffffff;
			padding: calc((1920px * 64px) / 1728px) calc((1920px * 61px) / 1728px) calc((1920px * 82px) / 1728px) calc((1920px * 72px) / 1728px);
			@media (max-width: 1920px){
				padding: calc((1920px * 3.333vw) / 1728px) calc((1920px * 3.177vw) / 1728px) calc((1920px * 4.271vw) / 1728px) calc((1920px * 3.750vw) / 1728px);
			}
			@media (max-width: 768px){
				padding: 0 7.750vw 0 9.125vw;
				display: flex;
				flex-direction: column;
				justify-content: center;

			}
		}
	
		&__item {
			font-family: 'FuturaBookC';
			font-style: normal;
			font-weight: 400;
			font-size: calc((1920px * 18px) / 1728px);
			line-height: calc((1920px * 20px) / 1728px);
			padding-left: calc((1920px * 23px) / 1728px);
			margin-top: calc((1920px * 25px) / 1728px);
			@media (max-width: 1920px){
				font-size: calc((1920px * 0.938vw) / 1728px);
				line-height: calc((1920px * 1.042vw) / 1728px);
				padding-left: calc((1920px * 1.198vw) / 1728px);
				margin-top: calc((1920px * 1.302vw) / 1728px);
			}
			@media (max-width: 768px){
				font-size:3.575vw;
				line-height: 3.125vw;
				padding-left: 4.0625vw;
			}
			position: relative;
			&::before{
				content:'';
				position: absolute;
				top: calc((1920px * 5px) / 1728px);
				left: 0;
				width: calc((1920px * 13px) / 1728px);
				height: calc((1920px * 13px) / 1728px);
				border-radius: 50%;
				@media (max-width: 1920px){
					top: calc((1920px * 0.260vw) / 1728px);
					width: calc((1920px * 0.677vw) / 1728px);
					height: calc((1920px * 0.677vw) / 1728px);
				}
				@media (max-width: 768px){
					width: 1.625vw;
					height: 1.625vw;
					top: 1vw;
				}
			}
		}
}
