.conclusion
	.conclusion__container.container
		.conclusion__right
			.conclusion__title.title.show-left.show ПОМНИТЕ: предупрежден — значит вооружен. К сожалению, в нашем обществе до сих пор живут различные мифы про ВИЧ и СПИД. 
			.conclusion__text 
				p.show-left.show Разрушая их, человечество становится на шаг ближе к контролю над эпидемией этого заболевания.  
				p.show-left.show Диагностика ВИЧ — это вопрос ответственного отношения, заботы о себе и своих близких. 
					|Своевременное обнаружение ВИЧ-инфекции позволяет вовремя начать лечение, снизить личные риски и защитить своих родных. Даже если кажется, что проблема ВИЧ вас не касается, всегда лучше пройти тестирование и убедиться в этом наверняка!
		.conclusion__image.conclusion__image-desktop
			img(src="img/conclusion/conclusion.png", alt="alt").show-right.show
		.conclusion__image.conclusion__image-mobile
			img(src="img/conclusion/conclusion-mob.png", alt="alt")