footer.footer
	.footer__container 
		.footer__top 
			span.show-left.show Дополнительную информацию вы всегда можете получить на официальном сайте 
			a(href="http://ads.adfox.ru/320882/goLink?p1=cgvpg&p2=frfe&p5=lyufl&pr=%system.random%").show-right.show 
				span Московского областного центра по профилактике и борьбе со СПИД и инфекционными заболеваниями — 
				span hivmo.ru.
		.footer__middle
			.footer__text.show-left.show
				span СПРАВКА
				|: в подмосковном Центре СПИД используются самые современные методики диагностики и лечения, 
				|проводятся научные исследования. Налажена доверительная связь между врачом и пациентом, без которой бывает сложно 
				|говорить о столь стигматизированном заболевании. В Центре оказывают как медицинскую, так и юридическую и 
				|психологическую поддержку ВИЧ-инфицированным. Связь с несколькими социально ориентированными НКО 
				|позволяет наиболее полно помочь пациенту. Кроме того, в Московской области придерживаются методики 
				|назначения лечения в день постановки диагноза, что позволяет как можно скорее остановить пагубное влияние 
				|вируса на иммунную систему.
		.footer__bottom.show-right.show 
			|Сейчас в Московской области в рамках акции «Проверься на ВИЧ» сдать тест можно быстро, бесплатно и 
			br
			|анонимно. Актуальную информацию о работе мобильных пунктов экспресс-тестирования ищите 
			|тут: 
			a(href="http://ads.adfox.ru/320882/goLink?p1=cgvpg&p2=frfe&p5=lyuhg&pr=%system.random%") 
				span https://vk.com/@hivmo-proversya-na-vich-blizhaishie-akcii  
		.footer__icons 
			a(href="").footer__icon.show-right.show 
				img(src="img/footer/1.svg", alt="alt")
			a(href="").footer__icon.show-left.show 
				img(src="img/footer/2.svg", alt="alt")
			a(href="").footer__icon.show-right.show 
				img(src="img/footer/3.svg", alt="alt")
			a(href="").footer__icon.show-left.show 
				img(src="img/footer/4.svg", alt="alt")

		a(href="#popap" data-fancybox).footer__popap-btn
			span Команда проекта
	#popap.popap 
		.popap__container 
			.popap__title.title НАД ПРОЕКТОМ РАБОТАЛИ:
			.popap__items 
				.popap__item 
					.popap__pos Руководитель отдела специальных проектов:
					.popap__name Алена Прокофьева;
				.popap__item 
					.popap__pos Проектный менеджер:
					.popap__name Андрей Чамов;
				.popap__item 
					.popap__pos Арт-директор:
					.popap__name Мария Простякова;
				.popap__item 
					.popap__pos Технический директор:
					.popap__name Денис Осипов;
				.popap__item 
					.popap__pos Дизайнер:
					.popap__name Юрий Мячин;
				.popap__item 
					.popap__pos Автор:
					.popap__name Алена Уткина;
				.popap__item 
					.popap__pos Корректор:
					.popap__name Вера Полякова:
			.popap__footer © 2022, SHKULEV MEDIA HOLDING Creative Studio